.drinkIcon,
.foodIcon {
    width: 100px;
}

#infoSubtitle {
    color: black;

}

.section {
    background-color: dimgray;
}

.title-content {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* Column | row */
}
