/* .hero-header-subtitle {
    font-style: italic;
}

.hero,
.button
 {
    font-family: 'Abril Fatface', cursive;
}

#foodMeal,
#foodCategory,
#foodOrigin
#drinkName
#drinkCategory
#drinkAlcoholic
#drinkGlass
#foodChoice {
    font-family: 'Abril Fatface', cursive;
} */

.section {
    background-color: dimgray;
}
.title-content {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* Column | row */
  }